<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
	<p>
		{{ site.description }}
	</p>
  </div>

  <nav class="sidebar-nav">
	{% for link in site.data.navigation %}
		<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ link.url }}">{{ link.text }}</a>
        {% if link.subnav.size > 0 %}
			{% for sublink in link.subnav %}
				<a class="sidebar-nav-sub-item{% if page.url == node.url %} active{% endif %}" href="{{ sublink.url }}">{{ sublink.text }}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>

<img src="/public/images/spineml_logo.png" id="spineml_logo" alt="SpineML Logo">
